@charset "utf-8";

   body{
	   margin:0 auto;
	   font-family:Adobe Hebrew, Roman New Times;
	   background-image:url("../imgs/ordem.png");
	   background-attachment:fixed;
	   background-position:center center;
	   background-size:cover;
	   background-color:rgb(231, 231, 231);
	   min-height: 100%;
   }

     header {
		 height:170px;
	     background-color:#330000;
	 }
	 header img {
		 float:left;
		 height:150px;
		 width:150px;
		 margin:10px;
	 }
	 header h1 {
		 float:left;
		 margin:50px 0 0 30px;
		 font-size:60px;
		 color:#ffffff;
	 }
	 
     nav {
		 clear:both;
		 width:80%;
		 margin:10px auto;
		 height:50px;
	 }	 
	 nav #conteudowhile{
		float:left;
		width:39.3%;
		padding:5px 55px;
		font-size:26px;
	 }
	 nav #conteudofor {
		float:right;
		width:31.3%;
		padding:5px 20px;
		font-size:26px;
	}
	 
	 section {
		 clear:both;
		 min-height:680px;
		 width:100%;
		 margin-block-end:0px;
	 }
	 footer {
		 background-color:#330000;
		 color:#fff;
		 text-align:center;
		 padding:10px;
		 bottom: 0px;
	 }
     section #topo {
		 width:1150px;
		 margin:100px auto;
		 height:90px;
	 }
	 section #titulos {
		 height:80px;
		 width:650px;
		 margin:0px auto;
	 }
	 h2 {
		 text-align:center;
		 margin-top:200px;
		 margin-bottom:20px;
		 font-family:roman new times;
		 font-size:40px;
		 color:black;
	 }
	 section p {
		 clear:both;
		 text-align:center;
		 margin:90px 20px;
		 color:white;
	 }
	 nav {
		clear:both;
		width:80%;
		margin:0px auto;
		height:55px;
	}	 
	nav a {
		color:white;
		text-decoration:none;
		text-align:center;
	}
	nav .opcao {
		float:left;
		width:31.3%;
		background-color:#330000;
		padding:10px 0;
		margin:0 1%;
		font-size:26px;
	}
	nav .opcao:hover {
		background-color:#500000;
	}